<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">

    <display-name>ContactManager</display-name>

    <!-- Solo listar contactos -->
    <servlet>
        <servlet-name>ListContact</servlet-name>
        <servlet-class>com.contactmanager.controller.ListContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListContact</servlet-name>
        <url-pattern>/contacts</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>CreateContact</servlet-name>
    <servlet-class>com.contactmanager.controller.CreateContactServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CreateContact</servlet-name>
    <url-pattern>/contacts/new</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CreateContact</servlet-name>
    <url-pattern>/contacts/create</url-pattern>
  </servlet-mapping>

<servlet>
  <servlet-name>DetailsContact</servlet-name>
  <servlet-class>com.contactmanager.controller.DetailsContactServlet</servlet-class>
  </servlet>

<servlet-mapping>
  <servlet-name>DetailsContact</servlet-name>
  <url-pattern>/contacts/details</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>EditContact</servlet-name>
    <servlet-class>com.contactmanager.controller.EditContactServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>EditContact</servlet-name>
    <url-pattern>/contacts/edit</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>DeleteContact</servlet-name>
    <servlet-class>com.contactmanager.controller.DeleteContactServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DeleteContact</servlet-name>
    <url-pattern>/contacts/delete</url-pattern>
</servlet-mapping>


    <!-- Página de bienvenida: index.jsp -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>

